<fieldset>
  <div class="comment">
  <% if f.object.content %>
    <%= f.label :content, f.object.content %>
    <% if @user_comments.include? f.object %>
      <%= f.hidden_field :_destroy %>
      <%= link_to 'remove', '#', class: 'remove_fields' %>
    <% end %>

    <% if current_user.voted_up_for? f.object %>
        <%= link_to "Rescind Upvote", dislike_comment_path(f.object), method: :put, class: "button tiny" %> |
    <% else %>
        <%= link_to "Upvote Comment", like_comment_path(f.object), method: :put, class: "button tiny" %> |
    <% end %>
  <% elsif f.label :content, f.object.content %>
    <%= f.text_area :content, :cols => "50", :rows => "5" %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  <% end %>
  <span>Upvote count: <%= f.object.votes_for.up.count %> |</span>
  <span><%= User.where(f.object.user_id).name %></span>
  <br />

  </div>
</fieldset>