<div class="container-fluid">
    <div class="row">
        <div class='col-md-8'>
            <%= form_for @trip, class: 'form-group' do |f| %>

              <div class="field">

                    <% if deadline == @deadline_locations %>
                        <span class="deadline-title">Set Vote Deadline</span><div class='input-group date' id='datetimepicker3'>
                            <%= f.text_field :deadline_locations, :as => :datetime_picker, data: {
                                :"date-format" => "YYYY-MM-DD HH:mm"}, class: "form-control" %>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    <% elsif deadline == @deadline_accomodations %>
                        <div class='input-group date' id='datetimepicker2'>
                            <%= f.text_field :deadline_accomodations, :as => :datetime_picker, data: {
                                :"date-format" => "YYYY-MM-DD HH:mm"}, class: "form-control" %>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    <% elsif deadline == @deadline_transportations %>
                        <div class='input-group date' id='datetimepicker1'>
                            <%= f.text_field :deadline_transportations, :as => :datetime_picker, data: {
                                :"date-format" => "YYYY-MM-DD HH:mm"}, class: "form-control" %>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    <% end %>
              </div>
            <div class="actions">
              <%= f.submit "Update Deadline", class: "btn btn-default" %>
            </div>
            <% end %>
        </div>
    </div>
</div>