<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <ul class="list-group">
  <%= f.fields_for :locations do |builder| -%><br />
    <div class="well">
      <%= render 'location_fields', f:builder %>
    </div>
  <% end %>
  </ul>
  <% if current_user.id.to_s == @trip.owner %>
    <button type="button" class="btn btn-default">
      <%= link_to_add_locations "Add Location", f, :locations %>
    </button><br /><br />
  <% end %>
<!--
  <div class="actions">
    <%= f.submit "Update", class: "btn btn-default" %>
  </div> -->

<% end %>

