<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.fields_for :locations do |location| -%><br />
    <div class="locations">
      <%= location.label :name, "Location Name" %><br />
      <%= location.text_field :name %>
      <%= location.hidden_field :_destroy %>
      <%= link_to 'remove', '#', class: 'remove_fields' %>
    </div>
  <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
