<fieldset>
  <div class="transportation">
  <% if f.object.url%>
    <%= f.label :url, f.object.url %>
    <% if current_user.id.to_s == @trip.owner %>
      <%= f.hidden_field :_destroy %>
      <%= link_to 'remove', '#', class: 'remove_fields' %>
    <% end %>

    <% if @deadline_transportations == nil || @deadline_transportations > Time.now %>
      <% if current_user.voted_up_for? f.object %>
          <%= link_to "Rescind Upvote", dislike_transportation_path(f.object), method: :put, class: "button tiny" %> |
      <% else %>
          <%= link_to "Upvote Location", like_transportation_path(f.object), method: :put, class: "button tiny" %> |
      <% end %>
    <% end %>
  <% elsif current_user.id.to_s == @trip.owner %>
    <%= f.text_field :url %>
  <% end %>
  <span>Upvote count: <%= f.object.votes_for.up.count %> |</span>
  <span>Voted on by: <%= f.object.votes_for.up.by_type(User).voters.map { |user| user.email }.join(", ") %></span>
  <br />

  </div>
</fieldset>