<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <div class="container">
    <h1><%= @trip.name %> Trip</h1>
    <p> From <%= @trip.start_date %> to <%= @trip.end_date %></p>
  </div>
</div>

<div class="invite">
  <%= link_to 'Invite participants', new_user_invitation_path(trip_id: @trip.id) %>
</div>


<div class="container col-md-8">

  <div role="tabpanel">
  <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#location" aria-controls="home" role="tab" data-toggle="tab">Location</a></li>
      <li role="presentation"><a href="#transportation" aria-controls="profile" role="tab" data-toggle="tab">Transportation</a></li>
      <li role="presentation"><a href="#accomodation" aria-controls="messages" role="tab" data-toggle="tab">Accomodation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

      <div role="tabpanel" class="tab-pane active" id="location">

            <%= render 'location_form' %>
          <% if current_user.id.to_s == @trip.owner %>
              <div class="btn btn-default" ng-click="emailShot(<%= @trip.id %>, 'location')" ng-if="!saved">Email Participants to Vote</div>
              <div class="alert alert-default text-center" ng-if="saved">Emailed!</div>
            <%= render "deadline_picker", deadline: @deadline_locations %>
          <% end %>

      </div>

      <div role="tabpanel" class="tab-pane" id="transportation">

          <%= render 'transportation_form' %>
        <% if current_user.id.to_s == @trip.owner %>
            <div class="btn btn-default" ng-click="emailShot(<%= @trip.id %>, 'location')" ng-if="!saved">Email Participants to Vote</div>
            <div class="alert alert-default text-center" ng-if="saved">Emailed!</div>
          <%= render "deadline_picker", deadline: @deadline_transportations %>
        <% end %>

      </div>
      <div role="tabpanel" class="tab-pane" id="accomodation">

          <%= render 'accomodation_form' %>
        <% if current_user.id.to_s == @trip.owner %>
            <div class="btn btn-default" ng-click="emailShot(<%= @trip.id %>, 'location')" ng-if="!saved">Email Participants to Vote</div>
            <div class="alert alert-default text-center" ng-if="saved">Emailed!</div>
          <%= render "deadline_picker", deadline: @deadline_accomodations %>
        <% end %>

      </div>

  </div>
</div>

    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Discuss</div>
        <div class="panel-body">
          <div class="comments">
            <%= render 'comment_form' %>
          </div>
        </div>
      </div>
    </div>


    <% if @friends_array[0] != nil %>
     <div class="col-md-2 sidebar-right">
       <h2 class="friend-title">Friends</h2>
        <% @friends_array.each do |friend| %>
         <div class="friend-container">
           <% if friend != nil %>
             <span><%= image_tag friend.image, {class: "friend-thumbnail"} %></span>
             <span class="friend-name"><%= friend['name'] %></span>
            <% end %>
          </div>
        <% end %>
      <% end %>

    <div class="main-vote">
    <%= link_to 'Invite participants', new_user_invitation_path(trip_id: @trip.id) %> |

    </div>

  </div>
</div>
